.hello {
  position: absolute;
  left: 347px;
}

.create_own_href {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 270px;
  height: 50px;
  white-space: nowrap;
  left: 347px;
  top: 150px;
  background-color: yellow;
  color: black;
  border-radius: 7px;
}
