.recProduct {
  position: relative;
  display: flex;
  justify-content: center;
  top: 150px;
}

.h1_rec {
  font-size: 40px;
}

.first_product1 {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 480px;
  height: 370px;
  background-color: #9299a2;
  left: 50px;
  top: 150px;
  border-radius: 20px;
  color: rgb(232, 232, 232);
  user-select: none;
  text-align: center;
  transition: 0.5s ease;
}

.crh1 {
  font-size: 20px;
  position: absolute;
  top: 30px;
  z-index: 1;
}

.crp1 {
  position: absolute;
  top: 70px;
  z-index: 1;
}

.cardCP {
  position: absolute;
  width: 200px;
  z-index: 0;
  top: 110px;
}

.cra11 {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 310px;
  color: black;
  background-color: rgb(235, 235, 235);
  width: 150px;
  height: 40px;
  border-radius: 7px;
  transition: 0.2s ease;
  z-index: 1;
}

.cra11:hover {
  color: grey;
}

.first_product1:hover {
  transform: scale(1.02);
}

.first_product2 {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 480px;
  height: 370px;
  background-color: #c6cacf;
  left: 568px;
  top: 150px;
  border-radius: 20px;
  color: black;
  user-select: none;
  text-align: center;
  transition: 0.5s ease;
}

.first_product2:hover {
  transform: scale(1.02);
}

.crh2 {
  font-size: 20px;
  position: absolute;
  top: 30px;
}

.crp2 {
  position: absolute;
  top: 70px;
}

.cra22 {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 310px;
  color: black;
  background-color: rgb(235, 235, 235);
  width: 150px;
  height: 40px;
  border-radius: 7px;
  transition: 0.2s ease;
  z-index: 1;
}

.cra22:hover {
  color: grey;
}

.gifts20000 {
  position: absolute;
  width: 350px;
  top: 120px;
}

.second_rp {
  display: flex;
  position: absolute;
  top: 560px;
  left: 50px;
}

.second_rp_choice {
  width: 299px;
  height: 400px;
  /* background-color: red; */
  position: relative;
  margin-right: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  cursor: pointer;
}
.second_rp_choice:hover {
  transform: scale(1.02);
}

#c1 {
  background-color: rgb(199, 199, 199);
}

#c2 {
  background-color: rgb(255, 255, 185);
}

#c3 {
  background-color: rgb(174, 242, 255);
}

.h_c {
  font-size: 20px;
  top: 30px;
  position: absolute;
  user-select: none;
}

.p_c {
  text-align: center;
  position: absolute;
  font-size: 15px;
  top: 70px;
  user-select: none;
}

.a_c {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 40px;
  top: 350px;
  background-color: white;
  border-radius: 7px;
  transition: 0.5s ease;
}
.a_c:hover {
  color: grey;
}

.photo_c {
  position: absolute;
  width: 150px;
  top: 150px;
}

#pig_photo {
  top: 180px;
}

#car_photo {
  width: 200px;
  top: 170px;
}
